# Dependencies
/node_modules
/.pnp
.pnp.js

# Optional npm cache directory
.npm

# Optional Yarn cache directory
.yarn
.pnp.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/coverage

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
/dist
/build
/out

# Runtime data
pids
*.pid
*.pid.lock

# TypeScript cache
*.tsbuildinfo

# Debugger configurations
.vscode

# Optional eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Editor directories and project files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Temporary files
*.swp
*~