<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Understanding Network</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="inner-wrap">
      <div>
        <h1>Zongze - Understanding Network</h1>
        <a href="./timeGetter">Time getter</a><br />
        <a href="./darkRoom">Dark room</a>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
