html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  background-color: rgb(24, 24, 24);
  color: rgb(221, 221, 221);
  display: grid;
  place-items: center;
}

.inner-wrap {
  width: 100%;
  max-width: 1820px;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.flex-box {
  display: flex;
  align-items: center;
  height: 5rem;
  column-gap: 2rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  background-color: rgb(221, 221, 221);
  border: none;
  cursor: pointer;
}
